:root {
    --clr-default: 224, 224, 224;
    --clr-default-active: 174, 174, 174;
    --clr-primary: 41, 98, 255;
    --clr-primary-active: 0, 57, 203;
    --clr-secondary: 69, 90, 100;
    --clr-secondary-active: 28, 49, 58;
    --clr-danger: 211, 47, 47;
    --clr-danger-active: 154, 0, 7;

    --clr-txt-light: #FAFBFD;
    --clr-txt-dark: #3F3F3F;
}

.btn {
    border-radius: 6px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* - Colors - */
.btn-clr--default {
    --clr-text: var(--clr-txt-dark);
    --clr-bg: var(--clr-default);
    --clr-bg-active: var(--clr-default-active);
}
.btn-clr--primary {
    --clr-text: var(--clr-txt-light);
    --clr-bg: var(--clr-primary);
    --clr-bg-active: var(--clr-primary-active);
}
.btn-clr--secondary {
    --clr-text: var(--clr-txt-light);
    --clr-bg: var(--clr-secondary);
    --clr-bg-active: var(--clr-secondary-active);
}
.btn-clr--danger {
    --clr-text: var(--clr-txt-light);
    --clr-bg: var(--clr-danger);
    --clr-bg-active: var(--clr-danger-active);
}


/* - Variants - */
/* Default */
.btn-default {
    background: rgba(var(--clr-bg), 1);
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    color: var(--clr-text);
}
.btn-default:hover,
.btn-default:focus {
    background: rgba(var(--clr-bg-active), 1);
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}
.no-shadow {
    box-shadow: none !important;
}
/* Outline */
.btn-outline {
    background: transparent;
    border: 1px solid rgba(var(--clr-bg), 1);
    color: rgba(var(--clr-bg), 1);
}
.btn-outline:hover,
.btn-outline:focus {
    background: rgba(var(--clr-bg), 0.1);
}
/* Text */
.btn-text {
    background: transparent;
    border: none;
    color: rgba(var(--clr-bg), 1);
}
.btn-text:hover,
.btn-text:focus {
    background: rgba(var(--clr-bg), 0.1);
}


/* - Sizes - */
.btn--sm {
    padding: 6px 12px;
}
.btn--md {
    padding: 8px 16px;
}
.btn--lg {
    padding: 11px 22px;
}


/* - Disabled - */
button:disabled {
    background: #E0E0E0;
    border: none;
    box-shadow: none !important;
    color: #9E9E9E;
    cursor: default;
    pointer-events: none;
}