@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
    border: none;
	background-color: transparent;
	color: inherit;
    cursor: pointer;
	padding: 0;
}

.layout-container {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-template-rows: 1frd;
	grid-template-areas: "sidebar main";
	height: 100vh;
}

.layout-main {
	
}

.main {
	grid-area: main;
	background: rgb(47, 50, 55);
}