.layout-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 32% 60%;
    grid-template-areas: "header"
                            "nav"
                            ".";
}

.sidebar {
    grid-area: sidebar;
    align-self: stretch;
    background: rgb(42, 43, 47);
    border-right: 1px solid rgb(69, 79, 89);
    overflow: hidden;
    padding: 30px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidebar_header,
.sidebar_nav {
    padding: 20px;
}

.sidebar_header {
    grid-area: header;
    color: rgb(229, 234, 240);
}

.sidebar_nav {
    grid-area: nav;
    color: rgb(141, 153, 167);
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.nav_link {
    display: flex;
    align-items: center;

    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 12px;
    text-decoration: none;
}

.nav_link span {
    font-size: 20px;
    margin-right: 16px;
}

.nav_link:hover,
.nav_link:focus {
    background: rgb(69, 79, 89);
    border-radius: 4px;
}